*{
box-sizing: border-box;
}

body{
    background-image: url("https://picsum.photos/id/164/1500/800");
    background-repeat: no-repeat;
    object-fit: cover;
}

.navbar {
	height: 60px;
	width: 100%;
  position: relative;
  background-color: black;
}

.navbar-header {
	display: inline;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.navbar-title {
	position: relative;
	display: inline-block;
	font-size: 22px;
  padding-left: 10%;
	color: #ffffff;
}

.navbar-responsive-button {
	display: none;
  padding-right: 2%;
}

.navbar-links {
	display: inline;
	float: right;
	font-size: 18px;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.navbar-links > a {
	display: inline-block;
	padding: 10px 10px 10px 10px;
	text-decoration: none;
	color: #efefef;
}

.navbar-links > a:hover {
	background-color: rgba(0, 0, 0, 0.5);
  color: #d3d3d3
}

#navbar-checkbox {
	display: none;
}

@media (max-width:600px) {
	.navbar-responsive-button {
		display: inline-block;
		position: relative;
        
		top: 50%;
		transform: translate(0, -50%);
	}

	.navbar-responsive-button > label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}

  .navbar-responsive-button > label:hover {
		background-color: rgba(0, 0, 0, 0.5);
    color: #d3d3d3
	}
  
  #navbar-checkbox:checked ~ .navbar-responsive-button > label {
		background-color: rgba(0, 0, 0, 0.5);
	}

	.hamburger-icon {
		display: block;
		height: 10px;
		width: 25px;
		border-top: 2px solid #eeeeee;
	}

	.navbar-links {
		position: relative;
		display: block;
		width: 100%;
		height: 0%;
    top: 50%;
		left: 0%;
    transform: translate(0, -6%);
    transition: all 0.3s ease-in;
		overflow-y: hidden;
    background-color: #3a3a3a;
	}

	.navbar-links > a {
		display: block;
		width: 100%;
	}

	#navbar-checkbox:checked ~ .navbar-links {
		height: 100vh;
    overflow-y: auto;
	}

	#navbar-checkbox:not(:checked) ~ .navbar-links {
		height: 0%;
	}
}


button{
  width:200px;
  height:70px;
  background: black;
  border-style: none;
  color:#fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
  position: absolute;
  display: block;
}
button span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
button span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}
button span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

button span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 10s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

button:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(5, 8, 0, 0.4);
}
button:hover span{
  animation-play-state: paused;
}